extends ./layouts/base
doctype html
html(lang="en")
  head
    block title
      title= 'Home'
  body
    block content 
      h1= message
      h3 Godus Components
      #godus1
      #godus2
        godus(godus-temp-name="staticHtml")
          label(godus-name="label1") What ?
          input(godus-name="input")
      #godus3

 block scripts
  script(src='/js/index2.js')
  
