nav.navbar.navbar-toggleable-md.navbar-light.fixed-top.hera-navbar-style
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault',aria-controls='navbarsExampleDefault',aria-expanded='false', aria-label='Toggle navigation' )
        span.navbar-toggler-icon
    a.navbar-brand(href='#') Navbar
    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                    | Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='#') Link
            li.nav-item
                a.nav-link.disabled(href='#') Disabled
            li.nav-item.dropdown
                a#dropdown01.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                .dropdown-menu(aria-labelledby='dropdown01')
                    a.dropdown-item(href='#') Action
                    a.dropdown-item(href='#') Another action
                    a.dropdown-item(href='#') Something else here
